{
  "overrides": [
    {
      "files": "*.md",
      "options": {
        "printWidth": 80,
        "proseWrap": "always"
      }
    },
    {
      "files": "*.md.jinja2",
      "options": {
        "printWidth": 80,
        "proseWrap": "always"
      }
    }
  ]
}
