aiofiles >=23,<24
aiohttp >=3,<4
aioshutil >=1,<2
aiosignal >=1,<2
annotated-types <1
anyio >=4,<5
attrs >=23,<24
frozenlist >=1,<2
idna >=3,<4
multidict >=6,<7
pydantic >=2,<3
pydantic_core >=2,<3
pydash >=7,<8
python-slugify >=8,<9
PyYAML >=6,<7
six >=1,<2
sniffio >=1,<2
text-unidecode >=1,<2
toml <1
typing_extensions >=4,<5
websockets >=12,<13
yarl >=1,<2
